@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #F1F1F1;
}

a, :visited{
    color: white;
    text-decoration: none;
}
/*Fim do reset*/

/*Formatação do cabeçalho e seus dependentes*/
#cabecalho{
    background-color: #3D22BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    color: white;
    padding: 10px;
}

#search{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
}

#search-vagas, #search-local{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-bottom: 15px;
}

#get-vagas{
    background-color: #16B967;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    max-width: 180px;
    margin: auto;
}
/*Fim da formatação do cabeçalho*/

/*Formatação do main e seus dependentes*/
#list-vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vaga{
    padding: 15px;
    max-width: 380px;
}

.desc-vaga{
    text-align: justify;
}
/*Fim da formatação do main*/

/*Formatação do cabeçalho e seus dependentes*/
#rodape{
    background-color: #3D22BC;
    color: white;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inf-rodape{
    padding: 15px;
    max-width: 380px;
}

#inf-rodape> a{
    display: block;
    margin-top: 5px;
}

#inf-rodape2{
    text-align: justify;
    padding: 15px;
    max-width: 380px;
    font-weight: 500;
}

#inf-rodape3{
    max-width: 380px;
    padding: 15px;
}