/*
*** Reset ***
*/
*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;  
}

a{
    text-decoration: none;
}
/*
*** Formatação geral ***
*/
#cabecalho{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #3D22BC;
    width: 320px;
    height: 350px;
}

#logo h1{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

#pesquisa{
    display: flex;
    flex-direction: column;
}

#pesquisa input, :focus{
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 20px;
    height: 45px;
}

#pesquisa input::placeholder{
    color: black;
    padding-left: 15px;
}

#pesquisa button{
    background-color: #16B967;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    margin: 20px auto;
    padding: 14px;
}

#conteudo{
    border: 1px solid red;
    position: relative;
    display: flex;
    width: 320px;
}

#rodape{
    background-color: #3D22BC;
    position: relative;
    display: flex;
    border: 1px solid green;
    width: 320px;
}