@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: 100;
    background-color: #F1F1F1;
    margin: auto;
    max-width: 1920px;
}

a, :visited{
    color: white;
    text-decoration: none;
}
/*Fim do reset*/

/*Formatação do cabeçalho e seus dependentes*/
#cabecalho{
    background-color: #3D22BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    color: white;
    padding: 10px;
}

#search{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
}

#search-vagas, #search-local{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 360px;
    margin: auto;
    margin-bottom: 15px;
}

#search-vagas::placeholder,
#search-local::placeholder{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

#get-vagas{
    background-color: #16B967;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    max-width: 180px;
    margin: auto;
}
/*Fim da formatação do cabeçalho*/

/*Formatação da capa*/
#photo-cape{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(0deg, rgba(61,34, 188, 0.87), rgba(61, 34, 188, 0.87)), url(../content/capa.jpeg);
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

#photo-cape p{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    text-transform: uppercase;
    max-width: 817px;
}
/*Fim da formatação da capa*/

/*Formatação do main e seus dependentes*/
#list-vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vaga{
    padding: 15px;
    max-width: 380px;
}

.title-vaga{
    color: #202020;
    font-size: 16px;
    font-weight: 600;
}

.inf-vaga{
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0;
}

.desc-vaga{
    color: #000000;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

.get-inf-vaga{
    border: none;
    border-radius: 5px;
    background-color: #3D22BC;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 200px;
    padding: 12px;

}
/*Fim da formatação do main*/

/*Paginação*/
#pag{
    font-size: 1.1em;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #FFFFFF;
    font-weight: 700;
}

#pag ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#pag li{
    border-radius: 4px;
    background-color: #3D22BC;
    padding: 4px 14px;
    margin: auto 4px;
}

#pag img{
    width: 14px;
}
/*Formatação do cabeçalho e seus dependentes*/
#rodape{
    background-color: #3D22BC;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inf-rodape{
    padding: 15px;
    max-width: 380px;
}

#inf-rodape> a{
    display: block;
    padding-top: 5px;
    font-weight: 400;
}

#inf-rodape2{
    text-align: justify;
    padding: 15px;
    max-width: 380px;
    font-weight: 600;
}

#inf-rodape3{
    max-width: 380px;
    padding: 15px;
    font-weight: 500;
}

/*Formtação para tablet e telas hd*/
@media (min-width:760px){
    /*Formtação do cabeçalho e seus dependentes*/
    #cabecalho{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #search{
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        padding: 0;
        margin: 0;
    }

    #search-vagas, #search-local{
        margin: 0;
        margin-right: 10px;
    }

    #get-vagas{
        margin: 0;
        margin-right: 10px;
    }
    /*Fim da formatação do cabeçalho*/

    /*Formatação da capa*/
    #photo-cape{
        display: flex;
    }
    /*Fim da formatação da capa*/

    /*Formatação do main e seus dependentes*/
    #list-vagas{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Formatação do rodapé e seus dependentes*/
    #rodape{
        flex-direction: row;
        justify-content: space-around;
    }
    /*Fim da formatação do rodapé*/
}
/*Fim da formtação*/

/*Formatação para telas full hd+*/
@media (min-width:1900px){
    #list-vagas{
        justify-content: flex-start;
    }
}
