<header class="container-fluid p-4 pb-5">
  <nav class="container-lg">
    <div class="row">
      <div class="text-center col-12 mb-5">
        <h1 id="textLogo">BRASILVAGAS.TOP</h1>
      </div>
      <form class="col-12">
        <div class="row gap-4">
          <input
            class="col-12 col-md-8 m-auto border-0 fs-5"
            type="text"
            name="q"
            placeholder="Pesquise por cargo ou palavra chave"
          />
          <select class="col-12 col-md-8 m-auto border-0 fs-5" name="local">
            <option selected>Escolha a localização</option>
            <option></option>
          </select>
          <input
            class="col-6 col-md-4 m-auto btn btn-lg"
            type="submit"
            value="Buscar Vagas"
          />
        </div>
      </form>
    </div>
    <!-- Formulário para buscas -->
  </nav>
</header>
