<div class="col-12 col-md-6 col-lg-4 col-xl-3 card border-0">
  <div class="card-body">
    <h5 class="card-title">Título da vaga</h5>
    <p class="card-subtitle">Cadastrado em 01/01/2001</p>
    <p class="card-subtitle">Recife/PE - Estágio</p>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      reprehenderit fugiat repellendus? Laborum incidunt qui similique
      autem quisquam, doloribus earum?
    </p>
    <a href="#" class="btn fw-bold">Ver mais informações</a>
  </div>
</div>
