/* Cabeçalho */
header {
  background: #3d22bc;
}

#btn-search {
  background: #16b967;
}

#search-vagas,
#search-local,
#search-vagas:focus,
#search-local:focus {
  text-indent: 10px;
  outline: none;
}
/* Conteúdo principal */
#capa {
  background: linear-gradient(
      0deg,
      rgba(61, 34, 188, 0.87) 0%,
      rgba(61, 34, 188, 0.87) 100%
    ),
    url(../content/capa.jpeg), lightgray 50% / cover no-repeat;
  height: 300px;
  max-width: 1920px;
  border-radius: 0 0 20px 20px;
}

#text-capa {
  color: #fff;
  width: 817px;
  height: 153px;
}

#info-vagas {
  background: #3d22bc;
}

#desc-vaga {
  text-align: justify;
}
/* Rodapé */
footer {
  background-color: #3d22bc;
}

#desc-site {
  text-align: justify;
}
